<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="shortcut icon" href="~/Content/assets/ico/icon_profile.png">
    <title>Jusan Magno</title>
    @Styles.Render("~/Content/bundle/css")
</head>
<body>
    <div class="row">
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Jusan Magno</p>
        </footer>
    </div>
</body>
</html>
