<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Content/assets/ico/icon_profile.png">

    <title> Jusan Magno</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/assets/css/main.css" rel="stylesheet">
    
	<link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/assets/js/smoothscroll.js"></script> 
    <script src="~/Content/assets/js/Chart.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]-->
      <script src="~/Content/assets/js/html5shiv.js"></script>
      <script src="~/Content/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#nav">

	<div id="section-topbar">
		<div id="topbar-inner">
			<div class="container">
				<div class="row">
					<div class="dropdown">
						<ul id="nav" class="nav">
                            <li class="menu-item"><a class="smoothScroll" href="#headerwrap" title="Header"><span class="glyphicon glyphicon-fire"></span></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#about" title="About"><span class="glyphicon glyphicon-user"></span></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#resume" title="Resume"><span class="glyphicon glyphicon-file"></span></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#work" title="Works"><span class="glyphicon glyphicon-briefcase"></span></a></li>
							<li class="menu-item"><a class="smoothScroll" href="#contact" title="Contact"><span class="glyphicon glyphicon-envelope"></span></a></li>
						</ul><!--/ uL#nav -->
					</div><!-- /.dropdown -->

					<div class="clear"></div>
				</div><!--/.row -->
			</div><!--/.container -->

			<div class="clear"></div>
		</div><!--/ #topbar-inner -->
	</div><!--/ #section-topbar -->
	
	<div id="headerwrap">
		<div class="container">
			<div class="row right">
				<div class="col-lg-12">
					<h1>Jusan Magno</h1>
					<h3>Desenvolvedor | jusanmagno@gmail.com</h3>
				</div><!--/.col-lg-12 -->
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/.#headerwrap -->
	

	<section id="about" name="about"></section>
	<div id="intro">
		<div class="container">
			<div class="row">
				
				<div class="col-lg-2 col-lg-offset-1">
					<h5>Sobre mim</h5>
				</div>
				<div class="col-lg-6">
					<p>Desenvovledor de software a 6 anos e nesse tempo venho me aperfeiçoando em linguagens como JAVA, C#, PHP, HTML5 e algumas frameWork<br />
                        Viciado em estudo e apaixona por tecnologia.
					</p>
				</div>
				<div class="col-lg-3">
					<p><a href="#"><i class="glyphicon glyphicon-cloud-download"></i></a> <sm>DOWNLOAD PDF</sm></p>
				</div>
				
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #intro -->


	<section id="resume" name="resume"></section>
	<!--EDUCATION DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>Educação</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Ciências da Computação</t><br/>
						FMU <br/>
						<i>em formação</i>
					</p>
				</div>
				
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Xamarin Form</t><br/>
						Plataforma Microsoft <br/>
						<i>1 mês</i>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm></sm></p>
				</div>
                <div class="col-lg-6 col-lg-offset-3">
					<p><t>JAVA EE</t><br/>
						Cursos em Video <br/>
						<i>3 meses</i>
					</p>
				</div>
	
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->
	
	
	<!--WORK DESCRIPTION -->
	<div class="container desc">
		<div class="row">

				<div class="col-lg-2 col-lg-offset-1">
					<h5>Trabalhos</h5>
				</div>
                <div class="col-lg-6">
					<p><t>Desenvolvedor Autonomo</t><br/>
						Lamp-ON. <br/>
					</p>
					<p><more>Analise e desenvolvimento de software por demandas com tecnologias web e mobile.</more></p>
				</div>
                <div class="col-lg-3">
					<p><sm>JANEIRO 2012 - JULHO 2016</sm></p>
				</div>
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Estágio em Desenvolvimento</t><br/>
						SystemCred. <br/>
					</p>
					<p><more>Desenvolimento e manutenção de software voltaldo para o processamento de dados financeiros.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>NOVEMBRO 2016 - FEVEREIRO 2017</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Programador</t><br/>
						Mirasoft. <br/>
					</p>
					<p><more>Manutenção e desenvolvimento de software de administração publica e empresárial.</more></p>
				</div>
				<div class="col-lg-3">
					<p><sm>MARÇO 2017 - ATUAL</sm></p>
				</div>
		</div><!--/.row -->
		<br>
		<hr>
	</div><!--/.container -->


<center>Certificados</center> 
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>Microsoft</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Introdução ao JSON com C#</t><br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2017</sm></p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><t>Xamarin Form</t><br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>2017</sm></p>
				</div>
		
            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>O que é e como funciona o Microsoft Azure</t><br />
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>2017</sm></p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Introdução ao Microsoft Azure Mobile Services</t><br />
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>2017</sm></p>
            </div>

            <div class="col-lg-6 col-lg-offset-3">
                <p>
                    <t>Fundamentos do C# com Clean Code</t><br />
                </p>
            </div>
            <div class="col-lg-3">
                <p><sm>2017</sm></p>
            </div>

		</div>
        
   
		<br>
	</div><!--/.container 
	
	
	<!--SKILLS DESCRIPTION -->
	<div id="skillswrap">
		<div class="container">
			<div class="row">
					<div class="col-lg-2 col-lg-offset-1">
						<h5>SKILLS</h5>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="javascript" height="130" width="130"></canvas>
						<p>Javascript</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 70,
										color:"#1abc9c"
									},
									{
										value : 30,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="bootstrap" height="130" width="130"></canvas>
						<p>Bootstrap</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 95,
										color:"#1abc9c"
									},
									{
										value : 5,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="wordpress" height="130" width="130"></canvas>
						<p>Wordpress</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 95,
										color:"#1abc9c"
									},
									{
										value : 5,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					
					<div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="html" height="130" width="130"></canvas>
						<p>HTML/CSS</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("html").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="csharp" height="130" width="130"></canvas>
						<p>C#</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 90,
										color:"#1abc9c"
									},
									{
										value : 10,
										color : "#ecf0f1"
									}
								];
							var myDoughnut = new Chart(document.getElementById("csharp").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
					<div class="col-lg-3 centered">
						<canvas id="vb" height="130" width="130"></canvas>
						<p>VB.NET</p>
						<br>
						<script>
							var doughnutData = [
									{
										value: 100,
										color:"#1abc9c"
									},
									{
										value : 0,
										color : "#ecf0f1"
									}
								];
								var myDoughnut = new Chart(document.getElementById("vb").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 col-lg-offset-3 centered">
						<canvas id="net" height="130" width="130"></canvas>
						<p>.NET</p>
						<br>
						<script>
						    var doughnutData = [
									{
									    value: 80,
									    color: "#1abc9c"
									},
									{
									    value: 20,
									    color: "#ecf0f1"
									}
						    ];
						    var myDoughnut = new Chart(document.getElementById("net").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="php" height="130" width="130"></canvas>
						<p>PHP</p>
						<br>
						<script>
						    var doughnutData = [
									{
									    value: 95,
									    color: "#1abc9c"
									},
									{
									    value: 5,
									    color: "#ecf0f1"
									}
						    ];
						    var myDoughnut = new Chart(document.getElementById("php").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>
                    <div class="col-lg-3 centered">
						<canvas id="xamarin" height="130" width="130"></canvas>
						<p>XAMARIN FORM</p>
						<br>
						<script>
						    var doughnutData = [
									{
									    value: 100,
									    color: "#1abc9c"
									},
									{
									    value: 0,
									    color: "#ecf0f1"
									}
						    ];
						    var myDoughnut = new Chart(document.getElementById("xamarin").getContext("2d")).Doughnut(doughnutData);
						</script>
					</div>


			</div><!--/.row -->
			<br>
		</div><!--/.container -->
	</div><!--/ #skillswrap -->



	<section id="work" name="work"></section>
	<!--PORTFOLIO DESCRIPTION -->
	<div class="container desc">
		<div class="row">
				<div class="col-lg-2 col-lg-offset-1">
					<h5>PORTFOLIO</h5>
				</div>
				<div class="col-lg-6">
					<p><img class="img-responsive" src="~/Content/assets/img/port01.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
					<p>Red Drink</p>
				<p><more>Game para univercitários brincar e beber.<br/><br/>
					<sm><i class="icon-tag"></i> Programação de Games</sm></more> 
				</p>
				</div>
	
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="~/Content/assets/img/port02.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>SANKEY</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> front-end</sm></more> 
					</p>
				</div>
				
				<div class="col-lg-6 col-lg-offset-3">
					<p><img class="img-responsive" src="~/Content/assets/img/port03.jpg" alt=""></p>
				</div>
				<div class="col-lg-3">
						<p>WE GROW</p>
					<p><more>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br/><br/>
						<sm><i class="icon-tag"></i> web design</sm></more> 
					</p>
				</div>
		
		</div><!--/.row -->
		<br>
		<br>
	</div><!--/.container -->
	


	<section id="contact" name="contact"></section>
	<!--FOOTER DESCRIPTION -->
	<div id="footwrap">
		<div class="container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>Contato</h5>
				</div>
				<div class="col-lg-6">
					<p><t>Email</t><br/>
						jusanmagno@gmail.com <br/>
					</p>
					<p><t>Endereço</t><br/>
                        Ipiranga<br />
						São Paulo, Brasil. <br/>
					</p>
					<p><t>Telefone</t><br/>
						+55 11 99292-9002 <br/>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>REDES SOCIAIS</sm></p>
					<p>
						<a href="https://twitter.com/JusanMagno"><img  src="Content/assets/img/icons/icon_twitter.png"></img></a>
						<a href="https://www.facebook.com/jusanmagnodeveloper/"><img  src="Content/assets/img/icons/icon_facebook.png"></img></a>
						<a href="https://www.linkedin.com/in/jusan-magno-197458a4/"><img  src="Content/assets/img/icons/icon_linkedin.png"></img></a>

					</p>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
	</div><!--/ #footer -->
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Content/assets/js/bootstrap.js"></script>
  </body>
</html>
